---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
import logoImage from "../assets/logo1.png"
---


<header class="h-28 text-center bg-slate-300 flex flex-row justify-between items-center">
	<a class="flex flex-row" href="/">
		<img src={logoImage} alt="logo" class="h-20 w-20 xl:ml-12 ml-2" />
		<div>
			<h1 class="xl:text-4xl text-2xl font-bold text-slate-800">
			{SITE_TITLE}
			</h1>
			<h2 class="m-1 hidden lg:block">
				Avoiding typical mistakes, eventually...
			</h2>
		</div>
	</a>
	<nav class="flex flex-row justify-between text-left xl:mx-12 m-2">
		<HeaderLink class="xl:text-xl font-semibold text-slate-800 mx-4" href="/">Homepage</HeaderLink>
		<HeaderLink class="xl:text-xl font-semibold text-slate-800 mx-4" href="/about">About</HeaderLink>
	</nav>
</header>

